LAB 7: TUPLE METHODS, PACKING, UNPACKING & CONVERSION

In [1]:
# 1. Employee Profile Record
# Creating a tuple to store employee details
employee = ("EMP105", "Neha", "Accounts")
print("Employee Profile:", employee)

Employee Profile: ('EMP105', 'Neha', 'Accounts')

In [2]:
# 2. Vehicle Details Entry
# Vehicle details stored as an immutable tuple
vehicle = ("TN10AB1234", "Honda", "White")
print("Vehicle Details:", vehicle)

Vehicle Details: ('TN10AB1234', 'Honda', 'White')

In [3]:
#3. Freelancer Project List
# Tuple storing project names
projects = ("Website", "App", "Data Analysis", "SEO")
print("Number of Projects:", len(projects))  # Using len() to count

Number of Projects: 4

In [4]:
#4. Train Route Stations
# Tuple of stations where the train stops
stations = ("Chennai", "Katpadi", "Bangalore", "Hubli")
print("Number of Stations:", len(stations))

Number of Stations: 4

In [5]:
#5. Student Mark Sheet (Count Repeated Marks)
# Tuple of student marks
marks = (80, 95, 80, 88, 80)
print("Number of times 80 appears:", marks.count(80))  # Using count()

Number of times 80 appears: 3

In [6]:
#6. Grocery Sales Record
# Items sold stored in tuple
sales = ("Milk", "Bread", "Milk", "Juice", "Milk", "Butter")
print("Milk sold count:", sales.count("Milk"))

Milk sold count: 3

In [7]:
#7. Student Registration List
# Tuple of student names
students = ("Nisha", "Varun", "Lalitha", "Aravind")
print("Index of Lalitha:", students.index("Lalitha"))  # Using index()

Index of Lalitha: 2

In [8]:
#8. Online Shopping Cart
# Tuple of cart items
cart = ("Shoes", "Shirt", "Watch", "Bag", "Watch")
print("First index of Watch:", cart.index("Watch"))  # Only returns first match

First index of Watch: 2

In [9]:
#9. Cricket Player Information
# Packing player details into a tuple
player = "Virat Kohli", "Batsman", 18
print("Player Info (Packed Tuple):", player)

Player Info (Packed Tuple): ('Virat Kohli', 'Batsman', 18)

In [10]:
#10. Movie Details Record
# Packing movie details into a tuple
movie = ("Leo", "Action", 8.3)
print("Movie Details:", movie)

Movie Details: ('Leo', 'Action', 8.3)

In [11]:
#11. Book Details â€“ Unpacking
# Tuple with book details
book = ("ISBN1023", "Atomic Habits", 399)
isbn, title, price = book  # Unpacking
print("ISBN:", isbn)
print("Title:", title)
print("Price:", price)

ISBN: ISBN1023
Title: Atomic Habits
Price: 399

In [12]:
#12. Delivery Package Status
# Delivery status tuple
package = ("PKG1001", "Electronics", "Delivered")
tracking_id, item_type, status = package  # Unpacking
print("Tracking ID:", tracking_id)
print("Type:", item_type)
print("Status:", status)

Tracking ID: PKG1001
Type: Electronics
Status: Delivered

In [13]:
#13. Update Hotel Room Status
# Original room status
room = ("Room-302", "Occupied")
room_list = list(room)  # Convert to list
room_list[1] = "Available"  # Modify status
room = tuple(room_list)  # Convert back to tuple
print("Updated Room Status:", room)

Updated Room Status: ('Room-302', 'Available')

In [14]:
#14. Correct Product Price
# Original product data
product = ("P101", "Keyboard", 1200)
product_list = list(product)  # Convert to list
product_list[2] = 1000  # Update price
product = tuple(product_list)  # Convert back to tuple
print("Updated Product Info:", product)

Updated Product Info: ('P101', 'Keyboard', 1000)

In [15]:
#15. List vs Tuple Mutability
# List example (mutable)
data_list = ["Amit", "Riya", "Mehul"]
data_list[1] = "Pooja"  # This works
print("Updated List:", data_list)

# Tuple example (immutable)
data_tuple = ("Amit", "Riya", "Mehul")
try:
    data_tuple[1] = "Pooja"  # This will raise an error
except TypeError as e:
    print("Tuple Error:", e)

# Explanation:
# Lists are mutable, so elements can be changed.
# Tuples are immutable, so modifying values directly raises a TypeError.

Updated List: ['Amit', 'Pooja', 'Mehul']
Tuple Error: 'tuple' object does not support item assignment