LAB 17 â€“ Online Retail Transactions Analysis using Pandas

In [1]:
# Import pandas
import pandas as pd

In [2]:
# 1. Load the dataset into a Pandas DataFrame
df = pd.read_csv("online_retail_transactions.csv", low_memory=False)

In [3]:
# After loading, check the shape of the dataset
print("Shape of dataset:", df.shape)

Shape of dataset: (1000, 8)

In [4]:
# 2. Display the first 10 rows of the dataset
print(df.head(10))

  order_id           order_date customer_id product_category payment_method  \
0  ORD1000  2025-01-01 00:00:00     CUST923            Books            UPI
1  ORD1001  2025-01-01 01:00:00     CUST667             Toys           Card
2  ORD1002  2025-01-01 02:00:00     CUST504              NaN            UPI
3  ORD1003  2025-01-01 03:00:00     CUST701             Toys            UPI
4  ORD1004  2025-01-01 04:00:00     CUST461             Toys         Wallet
5  ORD1005  2025-01-01 05:00:00     CUST830         Clothing            COD
6  ORD1006  2025-01-01 06:00:00     CUST343             Home            COD
7  ORD1007  2025-01-01 07:00:00     CUST228             Home            UPI
8  ORD1008  2025-01-01 08:00:00     CUST803             Home         Wallet
9  ORD1009  2025-01-01 09:00:00     CUST599             Toys            UPI

   quantity  unit_price  total_amount
0         2     1387.53       2775.06
1         4     1982.70       7930.80
2         2     1507.08       3014.16
3         5     1492.97       7464.85
4         5     1903.11       9515.55
5         4      445.73       1782.92
6         2     1152.82       2305.64
7         5     1960.31       9801.55
8         3      372.32       1116.96
9         1     1415.49       1415.49

In [5]:
# 3. Check the data types of all the columns in the dataset
print(df.dtypes)

order_id             object
order_date           object
customer_id          object
product_category     object
payment_method       object
quantity              int64
unit_price          float64
total_amount        float64
dtype: object

In [6]:
# 4. Find the number of missing values in each column
print(df.isna().sum())

order_id             0
order_date           0
customer_id          0
product_category    20
payment_method      20
quantity             0
unit_price           0
total_amount         0
dtype: int64

In [7]:
# 5. Filter the dataset: product_category = "Electronics" and quantity > 2
df["quantity"] = pd.to_numeric(df["quantity"], errors="coerce")   # ensure numeric
electronics_gt2 = df[(df["product_category"] == "Electronics") & (df["quantity"] > 2)]
print(electronics_gt2.head())

   order_id           order_date customer_id product_category payment_method  \
21  ORD1021  2025-01-01 21:00:00     CUST466      Electronics           Card
28  ORD1028  2025-01-02 04:00:00     CUST290      Electronics            COD
40  ORD1040  2025-01-02 16:00:00     CUST965      Electronics           Card
45  ORD1045  2025-01-02 21:00:00     CUST833      Electronics            UPI
48  ORD1048  2025-01-03 00:00:00     CUST655      Electronics            COD

    quantity  unit_price  total_amount
21         4      898.60       3594.40
28         4     1571.42       6285.68
40         4      587.65       2350.60
45         5      886.33       4431.65
48         3      354.94       1064.82

In [8]:
# 6. Sort the dataset by total_amount in ascending order
df["total_amount"] = pd.to_numeric(df["total_amount"], errors="coerce")  # ensure numeric
sorted_df = df.sort_values(by="total_amount", ascending=True)
print(sorted_df.head())

    order_id           order_date customer_id product_category payment_method  \
232  ORD1232  2025-01-10 16:00:00     CUST946             Home         Wallet
871  ORD1871  2025-02-06 07:00:00     CUST774      Electronics           Card
368  ORD1368  2025-01-16 08:00:00     CUST941      Electronics           Card
837  ORD1837  2025-02-04 21:00:00     CUST736      Electronics         Wallet
838  ORD1838  2025-02-04 22:00:00     CUST963      Electronics            COD

     quantity  unit_price  total_amount
232         1       50.37         50.37
871         1       50.86         50.86
368         1       54.10         54.10
837         1       75.41         75.41
838         1       77.67         77.67

In [9]:
# 7. Select only order_id, product_category, total_amount
selected_cols = df[["order_id", "product_category", "total_amount"]]
print(selected_cols.head())

  order_id product_category  total_amount
0  ORD1000            Books       2775.06
1  ORD1001             Toys       7930.80
2  ORD1002              NaN       3014.16
3  ORD1003             Toys       7464.85
4  ORD1004             Toys       9515.55

In [10]:
# 8. Group by product_category and calculate average of total_amount
avg_total = df.groupby("product_category")["total_amount"].mean().reset_index()
print(avg_total)

  product_category  total_amount
0            Books   3239.094419
1         Clothing   3299.453354
2      Electronics   3234.063559
3        Groceries   3231.670197
4             Home   2932.740000
5             Toys   2898.226951

In [11]:
# 10. Create new column avg_item_price = total_amount / quantity
df["avg_item_price"] = df["total_amount"] / df["quantity"].replace({0: pd.NA})
print(df[["order_id", "total_amount", "quantity", "avg_item_price"]].head())

  order_id  total_amount  quantity  avg_item_price
0  ORD1000       2775.06         2         1387.53
1  ORD1001       7930.80         4         1982.70
2  ORD1002       3014.16         2         1507.08
3  ORD1003       7464.85         5         1492.97
4  ORD1004       9515.55         5         1903.11

In [12]:
# 13. Create pivot table: total sales (total_amount)
# Rows: product_category | Columns: payment_method
pivot = pd.pivot_table(
    df,
    index="product_category",
    columns="payment_method",
    values="total_amount",
    aggfunc="sum",
    fill_value=0
)
print(pivot)

payment_method          COD       Card        UPI     Wallet
product_category
Books             120936.19  164873.67  119879.23  140960.17
Clothing          112232.61  118311.75  138952.36  161432.99
Electronics       153276.01  140817.91  144288.04  128010.79
Groceries          89940.69  136083.79  121951.85  134583.14
Home               99705.01   81371.31  124027.05  126529.72
Toys              117982.75  149317.66  100789.95   88029.39